.App {
  text-align: center;
}

.App-Inner {
  text-align: center;
}

.App-LeftPanel{
  background-color: #2e3238;
  width: 100px;
  color:white;
  height:100px;
  min-height: 960px;
  float: left;
}
.App-LeftPanel-Header {
  height: 50px;
}
.App-LeftPanel-Header-Name {
  position: relative;
  top:10px;
  font-size:x-large;
}
.App-LeftPanel-Divider {
}
.App-LeftPanel-Menu-Item-Text{
  width: 100%;
  text-align: center;
}

.App-Content {
  float: left;
  height: 100%;
  min-height: 960px;
}

