.EvaluatedList-StockCode {
    width: 25%;
    text-align: left;
}

.EvaluatedList-StockName {
    width: 25%;
    text-align: left;
}

.EvaluatedList-IndustryName {
    width: 25%;
    text-align: left;
}

.EvaluatedList-TotalScore {
    width: 25%;
    text-align: left;
}

.EvaluatedList-More {
    height: 100%;
    width: 100%;
}

.EvaluatedList-MoreButton {
    height: 100%;
    width: 100%;
}