.App {
  text-align: center;
  background-color:#222;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.App-Inner {
  text-align: center;
  width: 1080px;
  background-color:#FFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.App-LeftPanel{
  background-color: #2e3238;
  width: 120px;
  color:white;
  height:100%;
  float: left;
}
.App-LeftPanel-Header {
  height: 60px;
  width: 100%;
}
.App-LeftPanel-Header-Name {
  position: relative;
  top:10px;
  font-size:xx-large;
  width: 100%;
}
.App-LeftPanel-Divider {
  height: 2px;
  width: 100%;
  background-color: #555;
}
.App-LeftPanel-Menu-Item-Text{
  width: 100%;
  text-align: center;
  font-size: x-large;
}

.App-Content {
  float: left;
  width: 960px;
  height: 100%;
  background-color: #FFF;
}

.App-LoginPage-Container{
  position: absolute;
  width: 100%;
  height: 100%;
}
